<div class="wrapper">
  <%= render "shared/header" %>
    <div class="side-bar">
      <%= render "shared/side_bar" %>
    </div>

    <div class="main">
      <h2><%= @room.coach.user.nickname %>コーチ</h2>
      <%= form_with(model: [ @room, Directmessage.new ], local: true) do |form| %>
        <p>
          <%= form.label :ＤＭ %><br>
          <%= form.text_area :content %>
        </p>
        <p>
          <%= form.submit '送信' %>
        </p>
      <% end %>

      <h3>メッセージ</h3>
      <% @directmessages.each do |directmessage| %>
        <p><%= directmessage.user.nickname %>: <%= directmessage.content %></p>
      <% end %>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>


